## this project

## node
node_modules/

#---------------------------------------
# Mac
#---------------------------------------
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#---------------------------------------
# Windows
#---------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#---------------------------------------
# etc
#---------------------------------------
## VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
